.text-pink {
  color: #e83e8c;
}

.btn-primary {
  background-color: #e83e8c;
  border: none;
}

.btn-primary:hover {
  background-color: #d63384;
}

.fondo-rosa {
  background-color: #fed6eaff !important;
  color: #fff;
}
